body{
	background-color: rgb(93, 197, 197);
}

input[type=number]{
	height: 3rem;
    font-size: 1.3rem;
    font-weight: bold;
    width: 3rem;
    text-align: center;
}

#title{
	margin-top: 70px;
	font-size: 26px;
	line-height: 75px;
	border: 2px solid white;
}

.menu-object{
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 75px;
	font-size: 16px;
	margin-top: 10px;
	
}

button.menu-object{
	background-color: white;
	border: none;
}



p{
	text-align: center;
}

button.menu-object:active{
	font-size: 18px;
	width: 275px;
	height: 70px;
	background-color: rgb(99, 212, 218);
}

button.menu-object:hover:not(:active){
	font-size: 22px;
	width: 325px;
	height: 85px;
	background-color: rgb(188, 240, 243);
}

#game_area{
	width: 800px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
}

#cartes{
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

#tornar_enrere{
	color: white;
}

.opcions_blanc{
	color: white;
}

#items_phaser{
	text-decoration: none;
	color:black;
}